micronaut:
  application:
    name: mortnon-micronaut
  server:
    port: 8080
    cors:
      enabled: true
  serde:
    serialization:
      # 属性不论是否为空值，都要序列化
      inclusion: ALWAYS
  security:
    # 认证方式，bearer ：JWT 以请求头形式传递；cookie：JWT 以 cookies 形式传递
    authentication: cookie
    # 头像 URL 不鉴权
    intercept-url-map:
      - pattern: ${AVATAR_URL/**:/profile/avatar/**}
        http-method: GET
        access:
          - isAnonymous()
      # 用户导入模板不鉴权
      - pattern: /users/template/**
        http-method: GET
        access:
          - isAnonymous()
    redirect:
      enabled: false
    endpoints:
      login:
        enabled: false
      logout:
        enabled: false
    token:
      jwt:
        bearer:
          header-name: Authorization
          prefix: Bearer
        generator:
          access-token:
            expiration: 28800
        signatures:
          secret:
            generator:
              secret: GvnfNoDSgD22VTkDjUear6WNcf5g1Bwi7aQ9BwpvTFeGcpb8TJsQgbAh9T92kU2MPpSK2BIWVvNDDpYEGgyXzdpof6e9LtWtd30MujSUXawjNAsPk9ZJa7kdEgHh5LuqQVWxL6GVJOuMmeX2L0TZ5aOdslazChM9PaNeYzaxJ7mLonMwwA1N0O7pK5wnTt3LECZf6FFH13MuioFI4qEjhVfeEcs5hIzLt2POXE8fyjC0dPe9yuahKTEeqva99kwKbk9TJL7lDJRsLJSvWKUldxUJEKVBXeunFsP2DWpKsroxslJNuHow8NZeWLMAV5HELXwxgdGjSrfrWStRNwpa76yh78vuYm5QMBfmim7FBdX0L9uInN6kLXNLRdkBIdiA3Shg0vvnsHr8QKFebk1rcpk8XApf2lrE1awISyWEiSE3vcSGd6SAyDBozGCzpubIgQ17ialZYnoI3Roe3dEfOufNKqoLeqT7nvbsBKwf56PF577zxoqk0wXnvClfI8vpjv3ucCE7BVgczg9DkNwfwcG4Xr3ryB340qi3PmgRHUTk68c6vRpeOxTpNokfzWiFfwmAfjwsTBrZFQhrSSbE2ej3gOoGeJr2eVBLs4TXcZSkFa1Sb1Xt1OBxlK798JLGlQJcuSMT5DrbWw5lg6ou1BU1xvFvMQxV35E4a3Q3xjltCcab5zfvewOAazGly4oItigdSzHRyVyqjEhWfgqgUhC954zOzBlhzxLfwYeSWsm6FCyGLnaqSOndXhJ5ZgLSjXzwuHNOTjxSpiyyUqoyUewADAHS5Gvz8cMFXB7X4YrUWGHNqXSGjeFUat5Y7H7VPn2hb0oV2wS7ABFvccHBa1LemClyTUc5gTmuzLaAWPXJksLAOHaPLPY818j0a81wD0vcxkqwJjurKnScFqNUpv6bR54MZDstVLE78kZg5vtXFpZoT5bdmnQTv6miUpyDxVU3hfLLsBMpCDFN9g0AjpRgj8QFoo1kor8Ci7a0pWclJauJrvu1FY79imiSTHDhL9A7aLWnN4AfUzcNYHgvGKgJngMuKJC3TkkjYRQldBVmkrG3YzG3rdlNtsUhFi62ZHBn17Rx20L314PQ9CtX82ItEsmCaNM1vImyw21TcQVKIwxXVyZvOsSQq0jHBwBsWciwipNB9a39MqypP9iaskS4a6jRZSiQaWLyfaD3Rdv74JPGRBHnf0lj4hFfbuk5JE5q3lRI7obKtGVOGIDg6jnNctQxO3XfV3J4cuwhdkmX6I4sjCwlX4bcmQs0P75k
              jws-algorithm: HS256
  router:
    static-resources:
      # 头像文件映射的 URL
      images:
        enabled: true
        paths:
          - file:/uploadPath
        mapping: ${AVATAR_URL/**:/profile/avatar/**}
      # 用户导入模板映射的 URL
      user:
        enabled: true
        paths:
          - classpath:template
        mapping: /users/template/**
netty:
  default:
    allocator:
      max-order: 3
r2dbc:
  datasources:
    default:
      driver: mysql
      host: ${MYSQL_HOST:localhost}
      port: ${MYSQL_PORT:3306}
      username: ${MYSQL_USERNAME:root}
      password: ${MYSQL_PASSWORD:123456}
      database: mortnon
datasources:
  default:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/mortnon
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:123456}
    driverClassName: com.mysql.cj.jdbc.Driver
flyway:
  datasources:
    default:
      enabled: true
  placeholder-prefix: "@@{"
  placeholder-suffix: "}@@"

redis:
  # 如果使用 sentinel，REDIS_SCHEME 为 redis_sentinel，直连 redis REDIS_SCHEME 为 redis
  uri: ${REDIS_SCHEME:redis}://${REDIS_HOST:localhost}:${REDIS_PORT:6379}#mymaster

# 提供 Jackson 庫配置，支持特定处能使用 JacksonConfiguration
jackson:
  propertyNamingStrategy: SNAKE_CASE

mortnon:
  captcha:
    # 验证码有效时长（秒）
    expire-seconds: 60
  jwt:
    # 服务端是否记录 token ，默认为 true
    consistency: true
  common:
    # 缓存存储类型。Local：内存存储，Redis：redis存储
    storage-type: ${STORE_TYPE:Redis}
    # 日志相关默认语言
    lang: zh
    # 为前端生成的 RSA 公钥有效时长（分钟）
    rsa-ttl: 30
    # 双因子码有效时长（秒）
    double-factor-ttl: 60
    # 公用的 RSA 公钥
    public-key: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCN74zEheRhsnCRzj9FOJJ5/zXez0Pmbu1pu21/lyA5VT3QH7xSXnBCOwhiYDtTn0Bg1OQYD2wBNajdfJ2tGW1gVYTiR6vOe5blwe+dtYK8h0uvnQQtTDZ3TqE8VnEvb1xXy9a2zERujsdPIpZAJCrdGcSB/i4Mg8mc91dlY+MTNQIDAQAB
    # 公用的 RSA 私钥，用于非登录的敏感数据加密，与前端的公钥一对
    secret: MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAI3vjMSF5GGycJHOP0U4knn/Nd7PQ+Zu7Wm7bX+XIDlVPdAfvFJecEI7CGJgO1OfQGDU5BgPbAE1qN18na0ZbWBVhOJHq857luXB7521gryHS6+dBC1MNndOoTxWcS9vXFfL1rbMRG6Ox08ilkAkKt0ZxIH+LgyDyZz3V2Vj4xM1AgMBAAECgYA6TcHMZJe5DhyxuEBDRgbdeFl/qjJhMQXzXduQAtto0bwvhynLyCFjA27hQlh8dDl0zV7ZB1S9dnZkbTE0DvLfcZYdd7WTXzYtFkHju1j4Pw5I6aOmimxxH8hHpTcpXvzWAIUIRDZv32wC3/GOWOn6mv9WeO5eCLrSNWiNOB5HbQJBAI87dinDyMaH2DuK3N4DjJL7DZr+4dCtQTYeZpLMqgbxrb4CP4SrieSTJv/1TJdFfS+NB8AFRoEg7E16i7RyulMCQQD9rsWhLCCN1lO1gyx00lS+4IwF6gU8kzW7dWw+iIK5jr4f8eFYGUSddl4D8pYDK2y+QXeie+UHYH78F4kp5RtXAkBfFLjnFqnEaM85D4B4/OAnffLVLlfW//wnId0znBtOisasOK/TsU/TZX/hMARM8vscQsGfTaE0/RcAg9YTzokzAkEAuxPJ9oOeNjsaXD8x56y8hk79s9bSqcs90tJTUwJEtSaJGvG7ZsarjRufVXXuHsRFW0DYQuDvEzOcMbgBlP253QJAV/f113AEzG/Av1fNF4fPnVcPPh9bs180eexnGSXHseF1894WKoZ3XbuwaYWo+ir8Wi+FVZuVRI6uMXPD2P44oA==
    # 密码错误的检查周期（分钟）
    check-duration: 3