<configuration>
    <property name="service" value="mortnon"/>
    <property name="pattern" value="%d{ISO8601} ${HOSTNAME} ${service}/%level: %t %class.%M\\(%L\\):%msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="fun.mortnon.framework.log.LazyInitRollingFileAppender">
        <file>logs/${service}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${service}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--每天1个文件-->
            <maxHistory>30</maxHistory>
            <!--每个文件最大50M-->
            <maxFileSize>50MB</maxFileSize>
            <!--最大容量1GB-->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
